body {
    font-family: cursive;


}
  
#status{
    border: none;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 
}

#status img{
    width: 30px;
    padding: 10px;

}

#progress {
    width:200px;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 7px;
}

#sisa1 {
    width: 150px;
    height: 30px;
    background-color: #04AA6D;
    background-color: #04AA6D;
    border-radius: 4px;
    transition: 0.2s;
}

#sisa2 {
    width: 150px;
    height: 30px;
    background-color: #04AA6D;
    background-color: #04AA6D;
    border-radius: 4px;
    transition: 0.2s;
}

#sisa3 {
    width: 150px;
    height: 30px;
    background-color: #04AA6D;
    background-color: #04AA6D;
    border-radius: 4px;
    transition: 0.2s;
}

#sisa4 {
    width: 150px;
    height: 30px;
    background-color: #04AA6D;
    border-radius: 4px;
    transition: 0.2s;
}

td{
    border: none;
}


#logo img{
    width: 150px;
    display:flex;
    margin-left:auto;
    margin-right: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.button-container button{
    width: auto;
    
}

#button-act{
    align-self: center;
    padding-bottom: 15px;
    
}
  
.button {
    padding: 10px 100px;
    border: 2px solid #000;
    background-color: #d4ff00;
    border-radius: 7px;
    font-size: 20px;
    font-family: cursive;
    color: solid black;
    transition: background-color ease-in-out;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    
}
  
.button:hover {
    background-color: #ffb700;
    cursor: pointer;
    transform: scale(120%);
}

footer {
    margin-top: 40px;
    border-top: 2px solid black;    
}

hr {
    height: 2px;
    background-color: black;
    border: none;
  }


/*********** INI CSS BUAT GAME ***********/
  
#container-game{
    display:none;
}

#circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    transition: 0.2s;
    border: 1px solid black;
    position:absolute;
    
}

#star{
    width: 100px;
    height: 100px;
    transform: rotate(0deg);
    transition: 0.5s;
    border: 1px solid black;
    background: linear-gradient(#ffffff 0%, #414141 100%);
    opacity: 1;

}

#dpad{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid yellow;

}

/********************************************/

time{
    font-family: 'Times New Roman', Times, serif;
}

